{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $profile := .Site.Params.home.profile -}}
{{- $posts := .Site.Params.home.posts -}}
<div class="page home" {{ if ne $posts.enable false }} posts{{ end }}>
    <div>
        <div>
            <h2 class="custom">The Australian Text Analytics Platform is an open source environment that provides
                researchers with tools and training for analysing, processing, and exploring text.</h2>
            <p>Text analytics is a suite of methods which enable data-driven research by extracting and analysing
                machine-readable information from within unstructured text. Due to the increasing availability of large
                amounts of unstructured text, such techniques are becoming more and more important across diverse
                research
                disciplines.</p>
            <p>Text analysis tends to happen at either a basic, generic level (handled with existing software packages)
                or
                with custom code specifically developed by programmers for a particular project. ATAP will support
                researchers transitioning to code-based text analysis, with the resultant benefits of flexibility,
                reproducibility and reuse, and the possibility of exporting their results and workflows as a fully
                documented research object.</p>
            <p>ATAP will be a collaborative, cloud-based workbench environment, bringing together users and providers of
                data and text analytics tools. It will encourage researchers to adopt new methods, leading to greater
                flexibility and transparency in research workflows. The platform will be accessible to researchers with
                a
                broad range of experience and skills (including beginners) and across a range of disciplines. Support
                provided by the platform will include hands-on workshops, online training modules and online office
                hours,
                as well as advice and collaboration in selected partnerships.</p>
            <hr class="dots" />
            <br />
            <img width="100%" src="{{ .Site.BaseURL }}/AcknowledgeARDC.png"
                caption="Acknowledgement of ARDC and NCRIS with logos (`image`)" />
            <br />
            <p><i>ATAP acknowledges and pays respects to the Elders and Traditional Owners of the lands on which we live
                    and
                    work.</i></p>
            <p>The Australian Text Analytics Platform (ATAP) projects received investment (<a
                    href="https://doi.org/10.47486/PL074" target="_blank"
                    rel="noopener noreferrer">https://doi.org/10.47486/PL074</a>) from the Australian Research Data
                Commons
                (ARDC). The ARDC is funded by the National Collaborative Research Infrastructure Strategy (NCRIS).</p>
            <br />
            <hr class="dots" />
        </div>
        <br />
        <div class="main twitter-position">
            <a class="twitter-timeline" href="https://twitter.com/LTR_Aus?ref_src=twsrc%5Etfw">Tweets by LTR_Aus</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>
{{- end -}}